.becomeASeller{
    border: 2px solid black;
    background-color: rgb(246, 246, 246);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
form{
    width: 90%;
    overflow-x: hidden;
}
.save{
    margin: 2rem 45%;
    width: 10%;
    height: 2rem;
}