.certificates-tabs-section{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}

.certificateTab:hover{
    background-color: red;
   

}

.certificateTab{
    background-color: rgb(220, 220, 220);
    display: inline-block;
    margin: 5px;
    width: 25%;
    height: 3.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow:  0 0 5px #898888;
}
.certificateTab h4{
    margin-bottom: 0;
    margin-top: 5px;

}
.certificateTab a{
    overflow: hidden;
    color: rgb(126, 126, 226);
}