.websites-tabs-section{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0;
}
.websiteTab{
    background-color: rgb(220, 220, 220);
    display: inline-block;
    margin: 5px;
    width: 50%;
    height: 2rem;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow:  0 0 5px #898888;
}

.websiteTab:hover{
    background-color: red;
}

.websiteTab a{
    overflow: hidden;
    color: rgb(126, 126, 226);
}